<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="css/style.css" rel="stylesheet">
  <title>Plasm App UI</title>
  <meta name="description" content="">
</head>

<body>
  <div class="h-screen flex overflow-hidden bg-gray-50 dark:bg-darkGray-900">

    <%- include('./components/common/_sidebar-mobile'); -%>

      <%- include('./components/common/_sidebar-desktop'); -%>



        <div class="flex flex-col w-0 flex-1 overflow-y-auto lg:overflow-hidden">

          <%- include('./components/common/_header-mobile'); -%>

            <main class="flex-1 relative z-0 lg:overflow-y-auto focus:outline-none">


              <div class="px-4 py-10 md:px-8">

                <div class="flex justify-between">
                  <h1 class="text-2xl font-extrabold text-blue-900 dark:text-white mb-2">History</h1>
                  <%- include('./components/common/_address-change'); -%>
                </div>

                <div class="sm:flex justify-between items-center my-8">
                  <div class="flex-1 relative mb-2 sm:mb-0">
                    <input type="text" name="search" placeholder="Find by address, protocol, asset or type..."
                      class="max-w-xl w-full block border border-gray-300 dark:border-darkGray-500 dark:bg-darkGray-800 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md py-2.5 pl-10 pr-2.5 placeholder-gray-500 dark:placeholder-darkGray-500 text-blue-900 dark:text-darkGray-100 focus:outline-none ">
                    <div class="absolute top-0 left-0 p-3">
                      <svg class="w-5 h-5 text-gray-500 dark:text-darkGray-400" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                      </svg>
                    </div>
                  </div>
                  <div class="sm:ml-4">
                    <button type="button"
                      class="inline-flex items-center pl-4 pr-6 py-2 border border-transparent text-sm font-medium rounded-full shadow-sm text-white bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-100 dark:focus:ring-blue-400">
                      <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                      </svg>
                      Download CSV
                    </button>
                  </div>
                </div>

                <h2 class="text-blue-900 dark:text-white text-sm font-bold my-3">September 17, 2020</h2>

                <div class="flex flex-col mb-8">
                  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                      <div class="shadow overflow-hidden border-b border-gray-200 dark:border-darkGray-600 rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-darkGray-600">
                          <tbody
                            class="bg-white dark:bg-darkGray-800 divide-y divide-gray-200 dark:divide-darkGray-600">
                            <%- include('./components/history/_table-item', {type:'receive'}); -%>
                              <%- include('./components/history/_table-item', {type:'send'}); -%>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <h2 class="text-blue-900 dark:text-white text-sm font-bold my-3">September 17, 2020</h2>

                <div class="flex flex-col mb-8">
                  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                      <div class="shadow overflow-hidden border-b border-gray-200 dark:border-darkGray-600 rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-darkGray-600">
                          <tbody
                            class="bg-white dark:bg-darkGray-800 divide-y divide-gray-200 dark:divide-darkGray-600">
                            <%- include('./components/history/_table-item', {type:'trade'}); -%>
                              <%- include('./components/history/_table-item', {type:'claim'}); -%>
                                <%- include('./components/history/_table-item', {type:'mint'}); -%>
                                  <%- include('./components/history/_table-item', {type:'burn'}); -%>
                                    <%- include('./components/history/_table-item', {type:'approve'}); -%>
                                      <%- include('./components/history/_table-item', {type:'execute'}); -%>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </main>
        </div>
  </div>
</body>

</html>
